<section id="about-me">
    <div class="container-fluid  py-5 text-center bg-light">
        <h2 class="text-color-red">
            <i class="fas fa-address-card"></i>
            À propos
        </h2>
        <p class="mb-0">Qui suis je ?</p>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 py-4" id="picture">
                <img src="{{ asset('img/damien_riviere.jpg') }}" alt="Damien Riviere" class="rounded img-fluid">
            </div>
            <div class="col-lg-8 col-md-12 py-4">
                <h3 class="text-color-red">
                    <i class="fas fa-code"></i>
                    Damien Riviere
                    <span class="text-dark"> - Développeur PHP / Symfony</span>
                </h3>

                <ul class="list-unstyled d-flex justify-content-center row small text-muted">
                    <li class="mr-2">
                        <i class="fas fa-user text-danger"></i>
                        24 ans
                    </li>
                    <li class="mr-2">
                        <i class="fas fa-paper-plane text-danger"></i>
                        riviere.damien64@gmail.com
                    </li>
                </ul>

                <p>
                    Curieux et passionné par l'informatique et plus particulièrement par le développement Web, j'ai pu acquérir de nombreuses compétences professionnelles en autodidacte et en suivant le parcours de Développeur PHP / Symfony (BAC +4) chez OpenClassrooms.
                </p>
                <p>
                    Le développement Back-End m'ayant beaucoup plus durant ma formation, je me suis spécialisé sur le langage PHP avec le framework Symfony.
                </p>
                <p>

                </p>
                <p>
                    Actuellement, <span class="font-weight-bold">je suis à la recherche d'un poste de Développeur PHP / Symfony sur Bordeaux ou dans les Pyrénées Atlantiques</span> pour débuter ma carrière et réaliser de nouveaux défis.
                </p>
                <p>
                    N'hésitez pas à me contacter par mail pour plus de renseignements.
                </p>


                <div class="col text-center mt-3">
                    <a href="https://www.linkedin.com/in/damien-riviere/" target="_blank" title="Linkedin - Damien Riviere"><i class="fab fa-linkedin about-social"></i></a>
                    <a href="https://github.com/DamienRiviere" target="_blank" title="Github - Damien Riviere"><i class="fab fa-github-square about-social"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>