<footer class="pt-4 bg-light">

    <div class="container text-center text-md-left">

        <div class="row ">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-color-red">À propos</h5>
                <p>Damien Riviere, je suis Développeur PHP / Symfony dans la région Aquitaine.</p>

                <h5 class="text-color-red">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-paper-plane text-color-red"></i>
                        riviere.damien64@gmail.com
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-color-red">Navigation</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#banner" class="text-decoration-none">
                            <i class="fas fa-home text-color-red"></i>
                            <span class="text-dark">Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="#about-me" class="text-decoration-none">
                            <i class="fas fa-address-card text-color-red"></i>
                            <span class="text-dark">À propos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#parcours" class="text-decoration-none">
                            <i class="fab fa-buffer text-color-red"></i>
                            <span class="text-dark">Mon parcours</span>
                        </a>
                    </li>
                    <li>
                        <a href="#skills" class="text-decoration-none">
                            <i class="fas fa-terminal text-color-red"></i>
                            <span class="text-dark">Compétences</span>
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio" class="text-decoration-none">
                            <i class="fas fa-book text-color-red"></i>
                            <span class="text-dark">Portfolio</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-color-red">Liens</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/damien-riviere/" target="_blank" class="text-decoration-none">
                            <i class="fab fa-linkedin text-color-red"></i>
                            <span class="text-dark">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DamienRiviere" target="_blank" class="text-decoration-none">
                            <i class="fab fa-github-square text-color-red"></i>
                            <span class="text-dark">Github</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="text-center py-3 background-color-red footer-color">© 2020 Copyright :
        <a href="http://d-riviere.fr/" class="footer-color"> d-riviere.fr</a>
    </div>

</footer>