<div class="masthead" id="banner">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1>
                    <span class="header-title text-color-red">
                        <i class="fas fa-user text-white"></i>
                        Damien
                    </span>
                    <span class="header-title text-white">
                        Riviere
                    </span>

                    <br>

                    <span class="header-title text-color-red">
                        <i class="fas fa-laptop-code text-white"></i>
                        Développeur
                    </span>
                    <span class="header-title text-white">
                        PHP / Symfony
                    </span>

                    <br>

                    <a href="https://www.linkedin.com/in/damien-riviere/" target="_blank" title="Linkedin - Damien Riviere">
                        <i class="fab fa-linkedin header-title text-white mt-2"></i>
                    </a>
                    <a href="https://github.com/DamienRiviere" target="_blank" title="Github - Damien Riviere">
                        <i class="fab fa-github-square header-title text-white mt-2"></i>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</div>