<section id="portfolio">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-color-red">
            <i class="fas fa-book"></i>
            Portfolio
        </h2>
        <p class="mb-0">Mes réalisations</p>
    </div>

    <div class="container py-5">

        <div class="row d-flex justify-content-center py-4">
            {% for project in projects %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="{{ asset('uploads/' ~ project.picture.name) }}" class="card-img" alt="Taverne du JV">
                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                            <a href="" class="btn background-color-red text-white" data-toggle="modal" data-target="#modalProject">
                                <i class="fas fa-search"></i>
                                Détails
                            </a>
                        </div>
                    </div>
                    <p class="mt-2 text-center">Taverne du JV</p>
                </div>

                {% include 'partials/_modal_project.html.twig' %}
            {% endfor %}
        </div>

    </div>
</section>