<section id="skills">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-color-red">
            <i class="fas fa-terminal"></i>
            Compétences
        </h2>
        <p class="mb-0">Les technologies que j'utilise</p>
    </div>

    <!-- Langages / Framework -->
    <div class="container py-5">
        <div class="col-lg-12 my-4">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">
                        <i class="fas fa-code text-color-red"></i>
                        Technologies
                    </h3>

                    <ul class="skills-list my-4">
                        <li class="php">PHP</li>
                        <li class="symfony">Symfony</li>
                        <li class="javascript">JavaScript</li>
                        <li class="jquery">Jquery</li>
                        <li class="ajax">Ajax</li>
                        <li class="sql">SQL</li>
                        <li class="html">HTML</li>
                        <li class="css">CSS</li>
                        <li class="bootstrap">Bootstrap</li>
                        <li class="wordpress">Wordpress</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">
                        <i class="fas fa-laptop-code text-color-red"></i>
                        Autres
                    </h3>

                    <ul class="skills-list my-4">
                        <li>API REST</li>
                        <li>UML</li>
                        <li>ADR</li>
                        <li>Windows</li>
                        <li>Ubuntu</li>
                        <li>Debian</li>
                        <li>Virtualisation</li>
                        <li>Programmation orientée objet</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 my-4">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">
                        <i class="fas fa-toolbox text-color-red"></i>
                        Outils
                    </h3>

                    <ul class="skills-list my-4">
                        <li>PHPUnit</li>
                        <li>Behat</li>
                        <li>PHPStan</li>
                        <li>PHPCodesniffer</li>
                        <li>PHPStorm</li>
                        <li>Git</li>
                        <li>Blackfire</li>
                        <li>Docker</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">
                        <i class="fas fa-user text-color-red"></i>
                        Savoir-être
                    </h3>
                    <p class="my-4">Autonome, curieux, rigoureux et motivé.</p>
                </div>
            </div>
        </div>
    </div>
</section>