<section id="skills">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-color-red">
            <i class="fas fa-terminal"></i>
            Compétences
        </h2>
        <p class="mb-0">Les technologies que j'utilise</p>
    </div>

    <!-- Langages / Framework -->
    <div class="container py-5">
        <div class="col-lg-12 my-4">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Technologies
                    </h3>

                    <ul class="skills-list my-4 skills-center">
                        <li>PHP</li>
                        <li>Symfony</li>
                        <li>JavaScript</li>
                        <li>Jquery</li>
                        <li>Ajax</li>
                        <li>SQL</li>
                        <li>Twig</li>
                        <li>Bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Outils
                    </h3>

                    <ul class="skills-list my-4 skills-center">
                        <li>Git</li>
                        <li>PHPStorm</li>
                        <li>Blackfire</li>
                        <li>Docker</li>
                        <li>PHPUnit</li>
                        <li>Behat</li>
                        <li>PHPStan</li>
                        <li>PHPCodesniffer</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12 my-4">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Système d'exploitation
                    </h3>
                    <ul class="skills-list my-4 skills-center">
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>Debian</li>
                        <li>Ubuntu</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Architectures
                    </h3>

                    <ul class="skills-list my-4 skills-center">
                        <li>ADR</li>
                        <li>MVC</li>
                        <li>API REST</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12 my-4">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Autres
                    </h3>

                    <ul class="skills-list my-4 skills-center">
                        <li>UML</li>
                        <li>WordPress</li>
                        <li>Virtualisation</li>
                        <li>MySQL</li>
                        <li>Nginx</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">
                        Savoir-être
                    </h3>

                    <ul class="skills-list my-4 skills-center">
                        <li>Autonome</li>
                        <li>Curieux</li>
                        <li>Rigoureux</li>
                        <li>Motivé</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>