<section id="parcours">
    <div class="container-fluid bg-light py-5 text-center">
        <h2 class="text-color-red">
            <i class="fab fa-buffer"></i>
            Mon parcours
        </h2>
        <p class="mb-0">Mes expériences professionnelles et formations</p>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0 text-color-red">
                            <i class="fas fa-user-graduate"></i>
                            [Formation]
                            <span class="text-dark">-</span>
                            Développeur d'application PHP / Symfony
                        </h2>
                        <span class="small text-muted">
                            <i class="far fa-calendar-alt"></i>
                            2019/2020, OpenClassrooms - BAC +4
                        </span>
                        <p class="text-small mt-2 font-weight-light">
                            Réalisation de plusieurs projets lors du parcours :
                            <ul>
                                <li><span class="text-color-red">TodoList</span> : Amélioration d'une application existante sous Symfony 3</li>
                                <li><span class="text-color-red">BileMo</span> : Développement d'API REST pour une entreprise offrant toute une sélection de téléphones mobiles haut de gamme. Réalisé avec Symfony 4, architecture ADR, JWT, et Behat</li>
                                <li><span class="text-color-red">SnowTricks</span> : Développement d'un site communautaire sur les figures de snowboard. Réalisé avec Symfony 4, architecture ADR</li>
                                <li><span class="text-color-red">Blog professionnel</span> : Développement d'un blog PHP en programmation orienté objet</li>
                                <li><span class="text-color-red">ExpressFood</span> : Conception d'une application de livraison de nourriture. Réalisation des diagrammes de cas d'utilisation, modèle de données, diagrammes de classes et diagrammes de séquences</li>
                                <li><span class="text-color-red">Films de Plein Air</span> : Réalisation d'un cahier des charges et d'un prototype en HTML / CSS pour une association de cinéma de plein air fictive</li>
                                <li><span class="text-color-red">Chalets & Caviar</span> : Réalisation d'un site Wordpress pour une agence immobilière fictive</li>
                            </ul>
                        </p>
                    </li>

                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0 text-color-red">
                            <i class="fas fa-user-graduate"></i>
                            [Formation]
                            <span class="text-dark">-</span>
                            Développeur Web
                        </h2>
                        <span class="small text-muted">
                            <i class="far fa-calendar-alt"></i>
                            2018, OpenClassrooms - BAC +2
                        </span>
                        <p class="text-small mt-2 font-weight-light">
                            Réalisation de plusieurs projets lors du parcours :
                            <ul>
                                <li><span class="text-color-red">Taverne du JV</span> : Développement d'un site d'actualité sur le thème des jeux vidéo avec le framework Symfony</li>
                                <li><span class="text-color-red">Blog de Jean-Forteroche</span> : Développement d'un blog en PHP en programmation orienté objet</li>
                                <li><span class="text-color-red">Velo'V</span> : Développement d'une application web simulant la réservation de vélo sur la ville de Lyon en JavaScript/Jquery</li>
                                <li><span class="text-color-red">Office du tourisme de Strasbourg</span> : Réalisation d'un site fictif avec le CMS WordPress</li>
                                <li><span class="text-color-red">WebAgency</span> : Intégration d'une maquette en HTML/CSS</li>
                            </ul>
                        </p>
                    </li>

                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0 text-color-red">
                            <i class="fas fa-briefcase"></i>
                            [Stage]
                            <span class="text-dark">-</span>
                            Technicien Administrateur Réseaux
                        </h2>
                        <span class="small text-muted">
                            <i class="far fa-calendar-alt"></i>
                            Juillet/Septembre 2017, Toray CARBON FIBERS EUROPE, Lacq
                        </span>
                        <p class="text-small mt-2 font-weight-light">
                            Stage au service SI chez Toray dans le cadre de ma formation au Greta de Titre pro Technicien Administrateur Réseau.
                            <ul>
                                <li>Création de map sur POM Monitoring pour localiser les switchs sur les différents sites de l'entreprise</li>
                                <li>Configuration de switch Cisco avant mise en production (Maj IOS, VLAN, VTP ...)</li>
                            </ul>
                        </p>
                    </li>

                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0 text-color-red">
                            <i class="fas fa-user-graduate"></i>
                            [Formation]
                            <span class="text-dark">-</span>
                            Technicien Administrateur Réseaux
                        </h2>
                        <span class="small text-muted">
                            <i class="far fa-calendar-alt"></i>
                            2017, Greta Sud Aquitaine, Pau - BAC +2
                        </span>
                        <p class="text-small mt-2 font-weight-light">Administration système et réseaux sous Linux et Windows Server.</p>
                    </li>

                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0 text-color-red">
                            <i class="fas fa-briefcase"></i>
                            [Pro]
                            <span class="text-dark">-</span>
                            Technicien SIG
                        </h2>
                        <span class="small text-muted">
                            <i class="far fa-calendar-alt"></i>
                            2013/2016, Communauté de communes de Lacq-Orthez, Mourenx
                        </span>
                        <p class="text-small mt-2 font-weight-light">Réalisation de cartographie à thèmes spécifiques (urbanisme, environnement, voirie, éclairage public ...)</p>
                        <p class="text-small mt-2 font-weight-light">Logiciels utilisés : FME 2013, AutoCAD 2016, Qgis 2.12</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>