<nav class="navbar navbar-expand navbar-dark background-color-red static-top">
    <a class="navbar-brand mr-1" href="/admin">Administration</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bienvenue {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/">
                    <i class="fas fa-eye text-color-red"></i>
                    Voir le site
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('authentication_logout') }}">
                    <i class="fas fa-sign-out-alt text-color-red"></i>
                    Déconnexion
                </a>
            </div>
        </li>
    </ul>
</nav>