{% block _project_technology_entry_form %}
        <div class="row col">
                {{ form_widget(form) }}
        </div>
{% endblock %}

{% block _project_technology_entry_widget %}
        <div class="mr-2">
                {{ form_widget(form) }}
        </div>
{% endblock %}